services:
 
  mongo_db:
    image: mongo:latest
    container_name: app_database
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

 
  backend:  
    build:
      context: ./backend
    container_name: app_backend
    restart: always
    
    
    env_file:
      - ./backend/.env
    
    environment:
      - PORT=5000
     
     
      - MONGO_URI=mongodb://mongo_db:27017/my_app_db
    depends_on:
      - mongo_db
    networks:
      - app_network

 
  frontend:
    build:
      context: .
    container_name: app_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongo_data: